<app-navbar></app-navbar>
<div class="clothing-container">

    <div class="block">
      <div class="sidebar">
        <button (click)="fetchArticles('BOOTS')">Boots</button>
        <button (click)="fetchArticles('SNEAKERS')">Sneakers</button>
        <button (click)="fetchArticles('SPORT')">Sport</button>
        <button (click)="fetchArticles('BUSINESS')">Business</button>
        <button (click)="fetchArticles('LOAFERS')">Loafers</button>
      </div>
    </div>
    <!-- Articles Grid -->
    <div class="articles-grid">
      <app-card-view
        *ngFor="let article of articles"
        [id]="article.id"
        [imageUrl]="article.imageUrl"
        [title]="article.title"
        [price]="article.price"
        [discount]="article.discount">
      </app-card-view>
    </div>

    <div class="block"></div>
</div>

