.clothing-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Sidebar Styling */
.sidebar {
  padding-left: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  background-color: #555;
}

/* Articles Grid */
.articles-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.block{
  background-color: white;
  width: 600px;
}


  