<header class="header">
  <div class="nav-left">
    <button class="nav-btn" routerLink="/" routerLinkActive="active">MEN</button>
    <button class="nav-btn">WOMEN</button>
    <button class="nav-btn">KIDS</button>
  </div>

  <div class="nav-center">
    <img src='drezzy.jpg' alt="Drezzy Logo ovde" class="logo">
  </div>

  <div class="nav-right">
    <a routerLink="/men/user" routerLinkActive="active"><img src="user.png" alt="User" class="nav-icon"> </a>
    <a routerLink="/men/wishlist" routerLinkActive="active"><img src="heart.png" alt="Wishlist" class="nav-icon"></a>
    <a routerLink="/men/bag" routerLinkActive="active"><img src="bag.png" alt="Cart" class="nav-icon"></a>
  </div>
</header>

<nav class="navbar">
  <ul>
    <li><a routerLink="/men/new" routerLinkActive="active">New</a></li>
    <li><a routerLink="/men/sale" routerLinkActive="active">Sale %</a></li>
    <li><a routerLink="/men/trends" routerLinkActive="active">Trends</a></li>
    <li><a routerLink="/men/clothing" routerLinkActive="active">Clothing</a></li>
    <li><a routerLink="/men/shoes" routerLinkActive="active">Shoes</a></li>
    <li><a routerLink="/men/accessories" routerLinkActive="active">Accessories</a></li>
  </ul>

  <div class="auth-buttons">
    <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
</nav>

