<app-navbar></app-navbar>

<div class="container">
    <h2>Wishlist</h2>
    <table class="wishlist-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Size</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>
            <img *ngIf="article.imageUrl" [src]="'data:image/jpeg;base64,' + article.imageUrl" alt="Article Image"/>
          </td>
          <td>{{ article.title }}</td>
          <td>
            <span *ngIf="(article?.discount ?? 0) > 0" class="old-price">
              ${{ article?.price ?? 0 }}
            </span>
            <span *ngIf="(article?.discount ?? 0) > 0" class="discounted-price">
              ${{ ((article?.price ?? 0) * (1 - (article?.discount ?? 0) / 100)) | number:'1.2-2' }}
            </span>  
            <span *ngIf="!article?.discount || article?.discount === 0">
              ${{ article?.price ?? 0 }}
            </span>
          </td>
          <td>{{ article.size }}</td>
          <td>
            <button class="remove-btn" (click)="removeFromWishlist(article.id)">Remove</button>
            <button class="add-btn" (click)="addToBag(article.id)">Add to Bag</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

