<app-navbar></app-navbar>

<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Size</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles">
          <td>
            <img *ngIf="article.imageUrl" [src]="'data:image/jpeg;base64,' + article.imageUrl" alt="Article Image" style="max-width: 100px; max-height: 100px;"/>
          </td>
          <td>{{ article.title }}</td>
          <td>{{ article.price }}</td>
          <td>{{ article.discount }}%</td>
          <td>{{ article.size }}</td>
          <td>
            <button (click)="removeFromBag(article.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
